Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

sort-txt-file:
  name: Sort text file alphabetically
  entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
  language: system

sort-json-files:
  name: Sort JSON files alphabetically
  entry: python3 scripts/sort_json.py
  language: system
  pass_filenames: true

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: remove COPY of deleted files from Dockerfile
  Dockerfile
Due: none

chore: remove unused engines, favicon assets and showcase screenshots
  searx/engines/brave_api.py
  searx/engines/commoncrawl.py
  searx/templates/simple/searxng-wordmark.min.svg
  searx/templates/static/github-color.svg
  searx/templates/static/themes/simple/img/favicon.png
  searx/templates/static/themes/simple/img/favicon.svg
  searx/templates/static/themes/simple/img/favicon.svg.br
  searx/templates/static/themes/simple/img/favicon.svg.gz
  showcase/index.png
  showcase/index_mobile.png
  showcase/results.png
  showcase/results_mobile.png
Due: none

feat: self-host Iosevka fonts instead of jsdelivr CDN
  searx/templates/static/fonts/iosevka-latin-400-normal.woff2
  searx/templates/static/fonts/iosevka-latin-500-normal.woff2
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

chore: remove unused digital_dreamer and ubuntu_r fonts
  searx/templates/static/fonts/digital_dreamer.otf
  searx/templates/static/fonts/ubuntu_r.ttf
Due: none

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update unwanted_urls.json file
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

Path conditions:
  sort-txt-file: any of: blocked_domains\.txt$
  sort-json-files: any of: \.json$
