Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

sort-txt-file:
  name: Sort text file alphabetically
  entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
  language: system

sort-json-files:
  name: Sort JSON files alphabetically
  entry: python3 scripts/sort_json.py
  language: system
  pass_filenames: true

update: update unwanted_urls.json file
  blocked_domains.txt
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-txt-file, sort-json-files

feat: toggle 'Inverted colors' nel tab UI
  Dockerfile
  STYLE_GUIDE.md
  searx/templates/simple/base.html
  searx/templates/simple/preferences.html
  searx/templates/simple/preferences/inverted.html
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

revert: rimuovi toggle Inverted colors
  Dockerfile
  STYLE_GUIDE.md
  searx/templates/simple/base.html
  searx/templates/simple/preferences.html
  searx/templates/simple/preferences/inverted.html
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

feat: nuova palette 'Light' + variabilizza hex hardcoded nei template
  STYLE_GUIDE.md
  searx/templates/simple/_search_bar.html
  searx/templates/simple/index.html
  searx/templates/simple/preferences/palette.html
  searx/templates/simple/results.html
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

fix: light palette — Disable all rimuove il check dalle reversed
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

fix: renderizza tutti i tab preferences sempre (no più reset engines)
  searx/templates/simple/preferences.html
Due: none

update: update unwanted_urls.json file
  .claude/settings.local.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  blocked_domains.txt
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-txt-file, sort-json-files

Path conditions:
  sort-txt-file: any of: blocked_domains\.txt$
  sort-json-files: any of: \.json$
