Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

sort-txt-file:
  name: Sort text file alphabetically
  entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
  language: system

sort-json-files:
  name: Sort JSON files alphabetically
  entry: python3 scripts/sort_json.py
  language: system
  pass_filenames: true

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

add: CommonCrawl CDX index as URL source engine
  Dockerfile
  searx/engines/commoncrawl.py
  settings.yml.template
Due: none

fix: rename commoncrawl shortcut to ccr to avoid collision
  settings.yml.template
Due: none

add: dark-themed preferences.css matching output.css palette
  Dockerfile
  searx/templates/simple/base_preferences.html
  searx/templates/static/preferences.css
Due: none

update: remove preferences card wrapper, expand to full width
  searx/templates/static/preferences.css
Due: none

fix: prevent horizontal overflow on preferences page
  searx/templates/static/preferences.css
Due: none

add: CLAUDE.md with 2px border-radius rule
  CLAUDE.md
Due: none

update: set all preferences border-radius to 2px per CLAUDE.md
  searx/templates/static/preferences.css
Due: none

update: forbid Claude Co-Authored-By trailer in CLAUDE.md
  CLAUDE.md
Due: none

fix: stop FOUC on engines tab by removing over-broad display:block rule
  searx/templates/simple/base_preferences.html
  searx/templates/simple/preferences.html
  searx/templates/static/preferences.css
Due: none

fix: scope hide-section rule to nested engines-tabs only
  searx/templates/simple/preferences.html
Due: none

fix: force-hide nested engine sections at first paint to avoid FOUC
  .claude/settings.local.json
  searx/templates/simple/preferences.html
Due: sort-json-files

fix: strip light-theme inline styles that caused FOUC on preferences
  searx/templates/simple/preferences.html
Due: none

fix: use font-display optional to stop Fira Sans FOUT on preferences
  searx/templates/simple/base_preferences.html
Due: none

fix: hide engine-tooltip by default, reveal on name hover
  searx/templates/static/preferences.css
Due: none

update: add top margin to enable/disable buttons to match bottom gap
  searx/templates/static/preferences.css
Due: none

update: style Reset defaults and Back as secondary buttons
  searx/templates/static/preferences.css
Due: none

update: align table header height with row height
  searx/templates/static/preferences.css
Due: none

update: update favorite_urls.json file
  .claude/settings.local.json
  scripts/extract_palette.py
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

Path conditions:
  sort-txt-file: any of: blocked_domains\.txt$
  sort-json-files: any of: \.json$
