Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sort-txt-file
        name: Sort text file alphabetically
        entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
        language: system
        files: blocked_domains\.txt$
      
      - id: sort-json-files
        name: Sort JSON files alphabetically
        entry: python3 scripts/sort_json.py
        language: system
        files: \.json$
        pass_filenames: true

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

style: update font for testing
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

style: remove unused fonts variables
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

style: add ubuntu @font-face rule
  searx/templates/static/fonts/ubuntu-regular.ttf
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

style: add ubuntu @font-face rule
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

style: remove ubuntu @font-face rule
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

update: update blocked_url_prefixes.txt file
  blocked_url_prefixes.txt
Due: none

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files
