Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

sort-txt-file:
  name: Sort text file alphabetically
  entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
  language: system

sort-json-files:
  name: Sort JSON files alphabetically
  entry: python3 scripts/sort_json.py
  language: system
  pass_filenames: true

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

fix: rimuovi riferimenti orfani a brave_api e commoncrawl da documentazione e settings
  PROJECT_MAP.md
  settings.yml.template
Due: none

feat: aggiungi IDEAS.md per tracciare idee e possibili migliorie
  IDEAS.md
Due: none

update: documenta in IDEAS.md le strade per un toggle Tor in UI senza redeploy
  IDEAS.md
Due: none

docs: aggiungi convenzione su IDEAS.md in CLAUDE.md
  CLAUDE.md
Due: none

update: chiarisci in IDEAS.md che OUTGOING_PROXIES e' dormiente per scelta
  IDEAS.md
Due: none

fix: correggi sintassi proxy per-engine in IDEAS.md (outgoing.networks non esiste)
  IDEAS.md
Due: none

docs: aggiungi regola in CLAUDE.md su fonti autorevoli per info SearXNG
  CLAUDE.md
Due: none

docs: aggiungi sezione Source markers (emoji per dichiarare fonte) in CLAUDE.md
  CLAUDE.md
Due: none

update: aggiungi analisi volume/costo proxy e raccomandazione VPS SOCKS5 in IDEAS.md
  IDEAS.md
Due: none

feat: aggiungi sezione 'Architettura ricerca: allowlist + cache + API' in IDEAS.md e rafforza regola auto-aggiornamento in CLAUDE.md
  CLAUDE.md
  IDEAS.md
Due: none

Path conditions:
  sort-txt-file: any of: blocked_domains\.txt$
  sort-json-files: any of: \.json$
