Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sort-txt-file
        name: Sort text file alphabetically
        entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
        language: system
        files: blocked_domains\.txt$
      
      - id: sort-json-files
        name: Sort JSON files alphabetically
        entry: bash -c 'python3 -c "import json, sys; data=json.load(open(sys.argv[1])); json.dump(data, open(sys.argv[1], \"w\"), indent=2, sort_keys=True, ensure_ascii=False); open(sys.argv[1], \"a\").write(\"\\n\")"'
        language: system
        files: \.json$
        pass_filenames: true

chore: create sort_json.py file
  scripts/sort_json.py
Due: none

update: update .pre-commit-config.yaml file
  .pre-commit-config.yaml
  scripts/sort_json.py
Due: none

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

update: update preferences.html file
  searx/templates/simple/preferences.html
  searx/templates/static/output.css
Due: none

update: update base_preferences.html file
  searx/templates/simple/base_preferences.html
  searx/templates/static/output.css
Due: none

update: update preferences.html file
  searx/templates/simple/base_preferences.html
Due: none

update: update base_preferences.html file
  searx/templates/simple/base_preferences.html
Due: none

update: update cookies.html file
  searx/templates/simple/preferences/cookies.html
  searx/templates/static/output.css
Due: none

update: update cookies.html file
  searx/templates/simple/preferences/cookies.html
Due: none

update: update preferences.html file
  searx/templates/simple/preferences.html
Due: none

chore: create no_cookies.html file
  searx/templates/simple/messages/no_cookies.html
Due: none

update: update Dockerfile file
  Dockerfile
Due: none

update: update answerers.html file
  searx/templates/simple/preferences/answerers.html
  searx/templates/static/output.css
Due: none

update: update answerers.html file
  searx/templates/simple/preferences/answerers.html
Due: none

update: update footer.html file
  searx/templates/simple/preferences/cookies.html
  searx/templates/simple/preferences/footer.html
  searx/templates/static/output.css
Due: none

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files
