Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sort-txt-file
        name: Sort text file alphabetically
        entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
        language: system
        files: blocked_domains\.txt$
      
      - id: sort-json-files
        name: Sort JSON files alphabetically
        entry: python3 scripts/sort_json.py
        language: system
        files: \.json$
        pass_filenames: true

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

feat: estendi favicon dinamica a tutte le pagine
  PROJECT_MAP.md
  searx/templates/simple/base.html
  searx/templates/simple/results.html
  searx/templates/static/custom/dynamic_favicon.js
Due: none

feat: favicon dinamica pesca il colore dalla palette attiva
  PROJECT_MAP.md
  searx/templates/static/custom/dynamic_favicon.js
Due: none

fix: contrasto palette light + tonalità calde
  PROJECT_MAP.md
  STYLE_GUIDE.md
  searx/templates/simple/_icons/github.html
  searx/templates/simple/index.html
  searx/templates/simple/results.html
  searx/templates/simple/simple_search.html
  searx/templates/static/input.css
  searx/templates/static/output.css
  searx/templates/static/preferences.css
  searx/templates/static/themes/simple/highlight.css
Due: none

fix: tailwind @source per recuperare utility dei template
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

fix: rimuovi text-gray-50 dal body per rispettare la palette
  searx/templates/simple/base.html
  searx/templates/static/output.css
Due: none

fix: badge bg palette-aware via color-mix dal body
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

update: update favorite_urls.json file
  .claude/settings.local.json
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-txt-file, sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update unwanted_urls.json file
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: replace vite shortcut with hackthebox on homepage
  PROJECT_MAP.md
  searx/templates/simple/_icons/hackthebox.html
  searx/templates/simple/index.html
Due: none

update: update highlight_urls.json file
  .claude/settings.local.json
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files
