Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sort-txt-file
        name: Sort text file alphabetically
        entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
        language: system
        files: blocked_domains\.txt$
      
      - id: sort-json-files
        name: Sort JSON files alphabetically
        entry: python3 scripts/sort_json.py
        language: system
        files: \.json$
        pass_filenames: true

update: dettagli piano Hetzner CAX11 + caveat blocklist datacenter in IDEAS.md
  IDEAS.md
Due: none

fix: rimuovi nome piano Hetzner specifico (inattendibile) da IDEAS.md
  IDEAS.md
Due: none

docs: aggiungi caveat su affidabilita' WebFetch in pagine JS-rendered (Source markers)
  CLAUDE.md
Due: none

update: prezzo verificato Hetzner Cost Optimized in IDEAS.md (€4.49/mese)
  IDEAS.md
Due: none

update: tabella verificata Hetzner Cost Optimized + raccomandazione CX23 in IDEAS.md
  IDEAS.md
Due: none

update: update favorite_urls.json file
  .claude/settings.local.json
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  .claude/settings.local.json
  blocked_domains.txt
Due: sort-txt-file, sort-json-files

update: update unwanted_urls.json file
  .claude/settings.local.json
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files
