Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

sort-txt-file:
  name: Sort text file alphabetically
  entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
  language: system

sort-json-files:
  name: Sort JSON files alphabetically
  entry: python3 scripts/sort_json.py
  language: system
  pass_filenames: true

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

feat: aggiungi script auto-update per selfhost Docker
  .gitignore
  PROJECT_MAP.md
  scripts/selfhost/auto-update.ps1
  scripts/selfhost/register-task.ps1
Due: none

fix(index): larghezza fissa shortcut tile per spaziatura uniforme
  .claude/settings.local.json
  file
  searx/templates/simple/index.html
  searx/templates/static/output.css
Due: sort-json-files

chore: rimuovi file spurio 'file' dalla root
  file
Due: none

feat(theme): tema parallelo 'pro' selezionabile dalle preferences
  .claude/settings.local.json
  STYLE_GUIDE.md
  searx/templates/simple/base.html
  searx/templates/simple/preferences/theme.html
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: sort-json-files

fix(selfhost): auto-update confronta commit deployato vs HEAD
  scripts/selfhost/auto-update.ps1
Due: none

fix(selfhost): parse 'docker inspect' come JSON
  scripts/selfhost/auto-update.ps1
Due: none

fix(selfhost): rilassa EAP attorno al docker build
  scripts/selfhost/auto-update.ps1
Due: none

polish(theme-pro): rimuovi residui terminali su results page e search bar
  .claude/settings.local.json
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: sort-json-files

Revert "polish(theme-pro): rimuovi residui terminali su results page e search bar"
  .claude/settings.local.json
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: sort-json-files

Revert "feat(theme): tema parallelo 'pro' selezionabile dalle preferences"
  .claude/settings.local.json
  STYLE_GUIDE.md
  searx/templates/simple/base.html
  searx/templates/simple/preferences/theme.html
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: sort-json-files

Path conditions:
  sort-txt-file: any of: blocked_domains\.txt$
  sort-json-files: any of: \.json$
