Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sort-txt-file
        name: Sort text file alphabetically
        entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
        language: system
        files: blocked_domains\.txt$
      
      - id: sort-json-files
        name: Sort JSON files alphabetically
        entry: python3 scripts/sort_json.py
        language: system
        files: \.json$
        pass_filenames: true

update: update blocked_domains.txt file
  blocked_domains.txt
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-txt-file, sort-json-files

fix: palette cyberpunk, favorite e ignored non più confondibili
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

update: data articolo spostata prima del titolo
  searx/templates/simple/macros.html
  searx/templates/simple/results.html
Due: none

fix: data articolo su riga propria sopra il titolo
  searx/templates/simple/results.html
Due: none

feat: rendering engines nel result_sub_footer
  searx/templates/simple/macros.html
Due: none

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update unwanted_urls.json file
  blocked_domains.txt
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-txt-file, sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
  searx/templates/static/custom/ignored_urls.json
Due: sort-txt-file, sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
  searx/templates/static/custom/unwanted_urls.json
Due: sort-txt-file, sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  blocked_domains.txt
  searx/templates/static/custom/unwanted_urls.json
Due: sort-txt-file, sort-json-files

update: rimuovi icona alert dalla colonna Reliability
  searx/templates/simple/preferences.html
Due: none

update: rimuovi barra orizzontale dalla colonna Response time
  searx/templates/simple/preferences.html
Due: none

fix: checkbox engine 'allow' non più invertite + enable/disable all funzionanti
  searx/templates/simple/preferences/engines.html
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

fix: engine commoncrawl — collezione CDX aggiornata e publishedDate datetime
  searx/engines/commoncrawl.py
  settings.yml.template
Due: none

fix: commoncrawl query 'hello' ora interpretata come 'hello.com'
  searx/engines/commoncrawl.py
Due: none

feat: commoncrawl query parola singola scansiona .com con filter regex
  searx/engines/commoncrawl.py
Due: none

feat: commoncrawl copre più TLD per query parola singola
  searx/engines/commoncrawl.py
Due: none

refactor: commoncrawl senza whitelist TLD, scan globale con filter
  searx/engines/commoncrawl.py
Due: none

fix: commoncrawl torna al fallback <word>.com per parole nude
  searx/engines/commoncrawl.py
Due: none

fix: commoncrawl usa regex filter dentro scope .com (unica slice viable)
  searx/engines/commoncrawl.py
Due: none

fix: commoncrawl SURT prefix era 'com,)' (vuoto) invece di 'com,'
  searx/engines/commoncrawl.py
Due: none

disable: commenta tutto commoncrawl (CDX non supporta full-text)
  Dockerfile
  searx/engines/commoncrawl.py
  settings.yml.template
Due: none

fix: rimuovi border-bottom extra sull'ultima riga engines
  searx/templates/static/preferences.css
Due: none

fix: pref-group row altezza uniforme (~3.75rem come quella del bang)
  searx/templates/static/preferences.css
Due: none

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

polish: background palette-specifico per leggibilità in pieno sole
  STYLE_GUIDE.md
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

update: update unwanted_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files
