Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sort-txt-file
        name: Sort text file alphabetically
        entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
        language: system
        files: blocked_domains\.txt$
      
      - id: sort-json-files
        name: Sort JSON files alphabetically
        entry: python3 scripts/sort_json.py
        language: system
        files: \.json$
        pass_filenames: true

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
  searx/templates/static/custom/unwanted_urls.json
Due: sort-txt-file, sort-json-files

update: update base.html file
  searx/templates/simple/base.html
  searx/templates/simple/icons.html
  searx/templates/static/output.css
Due: none

update: update icons.html file
  searx/templates/simple/icons.html
  searx/templates/static/output.css
Due: none

update: update icons.html file
  searx/templates/simple/icons.html
Due: none
