Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

sort-txt-file:
  name: Sort text file alphabetically
  entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
  language: system

sort-json-files:
  name: Sort JSON files alphabetically
  entry: python3 scripts/sort_json.py
  language: system
  pass_filenames: true

update: update blocked_domains file
  blocked_domains.txt
Due: sort-txt-file

update: update ignored_urls file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update highlight_url file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update blocked_urls_prefixes file
  blocked_url_prefixes.txt
  git_manager.sh
Due: none

update: update favorite_urls file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update highlight_url file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update favorite_urls file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update highlight_url file
  log_scroller_textual.py
  os_app.tcss
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

Path conditions:
  sort-txt-file: any of: blocked_domains\.txt$
  sort-json-files: any of: \.json$
