Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

sort-txt-file:
  name: Sort text file alphabetically
  entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
  language: system

sort-json-files:
  name: Sort JSON files alphabetically
  entry: python3 scripts/sort_json.py
  language: system
  pass_filenames: true

fix: checkbox/radio con !important + applicato a tutti
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

polish: chevron-down custom sui select, stile Lucide come la lente
  searx/templates/static/input.css
  searx/templates/static/output.css
  searx/templates/static/preferences.css
Due: none

polish: background sui bottoni save/reset/back in preferences
  searx/templates/static/preferences.css
Due: none

fix: niente underline dashed sugli anchor dentro i bottoni
  searx/templates/static/preferences.css
Due: none

polish: min-height uniforme 2.5rem su record, bottoni e tab engines
  searx/templates/static/preferences.css
Due: none

update: rimuovi 'Currently used search engines' dal tab engines
  searx/templates/simple/preferences.html
Due: none

polish: checkbox check con icona Lucide
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

fix: testo dropdown non va più sotto il chevron
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

fix: select si allarga al contenuto quando c'è spazio
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

fix: select usa width max-content per dimensionarsi all'opzione più lunga
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

fix: select combina max-content + ellipsis fallback
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

fix: padding-right 2.75rem sul select per margine sicurezza chevron
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

fix: letter-spacing normal sui select per non falsare max-content
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

polish: layout a card per tabella engines su mobile
  Dockerfile
  searx/templates/simple/preferences.html
  searx/templates/simple/preferences/engines.html
  searx/templates/static/preferences.css
Due: none

fix: card engines/answerers a full-width su mobile
  searx/templates/static/preferences.css
Due: none

fix: forza full-width su card engines/answerers con !important
  searx/templates/static/preferences.css
Due: none

polish: palette neon differenziata per funzione
  searx/templates/static/input.css
  searx/templates/static/output.css
  searx/templates/static/preferences.css
Due: none

fix: cap select a 100% su mobile (≤640px)
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

update: rimuovi tab 'other' dalla sezione engines
  searx/templates/simple/preferences/engines.html
Due: none

update: rimuovi emoji 🔗 dalla descrizione HTTP Method in privacy
  Dockerfile
  searx/templates/simple/preferences/method.html
Due: none

docs: STYLE_GUIDE con palette neon, border, icone e pattern
  CLAUDE.md
  STYLE_GUIDE.md
Due: none

docs: regola di tenere sincronizzata la STYLE_GUIDE
  CLAUDE.md
  STYLE_GUIDE.md
Due: none

feat: salva lo stile come tema 'terminal' e impostalo come default
  STYLE_GUIDE.md
  searx/templates/simple/base.html
  searx/templates/simple/preferences.html
  settings.yml.template
Due: none

feat: selettore Theme (solo Terminal) e nuovo selettore Palette (Neon)
  Dockerfile
  STYLE_GUIDE.md
  searx/templates/simple/base.html
  searx/templates/simple/preferences.html
  searx/templates/simple/preferences/palette.html
  searx/templates/simple/preferences/theme.html
Due: none

polish: allinea URL badge, result active e dialog alla palette neon
  STYLE_GUIDE.md
  searx/templates/static/custom/active_article.js
  searx/templates/static/input.css
  searx/templates/static/output.css
  searx/templates/static/preferences.css
Due: none

refactor: centralizza palette neon in var(--color-neon-*) Tailwind @theme
  STYLE_GUIDE.md
  searx/templates/static/input.css
  searx/templates/static/output.css
  searx/templates/static/preferences.css
Due: none

feat: 5 palette disponibili (neon default + amber-crt / mono-green / cyberpunk / high-contrast)
  STYLE_GUIDE.md
  searx/templates/simple/preferences/palette.html
  searx/templates/static/input.css
  searx/templates/static/output.css
  searx/templates/static/preferences.css
Due: none

fix: card layout anche per tabella .cookies su mobile
  searx/templates/simple/preferences/cookies.html
  searx/templates/static/preferences.css
Due: none

update: update unwanted_urls.json file
  .claude/settings.local.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update unwanted_urls.json file
  blocked_domains.txt
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-txt-file, sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  blocked_domains.txt
  searx/templates/static/custom/ignored_urls.json
Due: sort-txt-file, sort-json-files

polish: article card + badge color unico
  STYLE_GUIDE.md
  searx/templates/simple/results.html
  searx/templates/static/input.css
  searx/templates/static/output.css
Due: none

update: update unwanted_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
  searx/templates/static/custom/ignored_urls.json
Due: sort-txt-file, sort-json-files

Path conditions:
  sort-txt-file: any of: blocked_domains\.txt$
  sort-json-files: any of: \.json$
