Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sort-txt-file
        name: Sort text file alphabetically
        entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
        language: system
        files: blocked_domains\.txt$
      
      - id: sort-json-files
        name: Sort JSON files alphabetically
        entry: python3 scripts/sort_json.py
        language: system
        files: \.json$
        pass_filenames: true

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update highlight_urls.json file
  blocked_domains.txt
  searx/templates/static/custom/highlight_urls.json
Due: sort-txt-file, sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  .claude/settings.local.json
  IDEAS.md
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

fix: una challenge CAPTCHA non deve spegnere la ricerca per 24h
  IDEAS.md
  settings.yml.template
Due: none

feat: cache dei risultati per 7 giorni, disattivata sull'istanza pubblica
  Dockerfile
  IDEAS.md
  PROJECT_MAP.md
  STYLE_GUIDE.md
  scripts/selfhost/auto-update.ps1
  searx/plugins/result_cache.py
  searx/templates/simple/results.html
  settings.yml.template
Due: none

fix: request_timeout 3.0 -> 6.0, il budget tagliava le richieste a meta'
  settings.yml.template
Due: none

update: update blocked_domains.txt file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update blocked_url_prefixes.txt file
  blocked_url_prefixes.txt
Due: none
