Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

sort-txt-file:
  name: Sort text file alphabetically
  entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
  language: system

sort-json-files:
  name: Sort JSON files alphabetically
  entry: python3 scripts/sort_json.py
  language: system
  pass_filenames: true

update: update unwanted_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: sostituisci shortcut fish con walls + icona Lucide globe
  PROJECT_MAP.md
  searx/templates/simple/_icons/globe.html
  searx/templates/simple/index.html
Due: none

update: separa shortcut walls in sezione // links con accent blu
  searx/templates/simple/_icons/globe.html
  searx/templates/simple/index.html
Due: none

update: forme concesse = rettangoli radius 2px + cerchi
  CLAUDE.md
  STYLE_GUIDE.md
Due: none

polish: tile sezione // links in forma circolare
  searx/templates/simple/index.html
Due: none

build: rebuild output.css (rounded-full + hover blu + sm:mt-8)
  searx/templates/static/output.css
Due: none

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

Path conditions:
  sort-txt-file: any of: blocked_domains\.txt$
  sort-json-files: any of: \.json$
