Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

sort-txt-file:
  name: Sort text file alphabetically
  entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
  language: system

sort-json-files:
  name: Sort JSON files alphabetically
  entry: python3 scripts/sort_json.py
  language: system
  pass_filenames: true

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

feat: slider contrasto palette nelle preferences
  STYLE_GUIDE.md
  searx/templates/simple/base.html
  searx/templates/simple/preferences/palette.html
Due: none

polish: stile slider contrasto palette + range esteso a ±3
  STYLE_GUIDE.md
  searx/templates/simple/base.html
  searx/templates/simple/preferences/palette.html
  searx/templates/static/preferences.css
Due: none

feat: aggiunge shortcut z-library nella home
  searx/templates/simple/index.html
Due: none

polish: link_shortcuts in tile quadrati 2px come i brand
  searx/templates/simple/index.html
Due: none

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

Path conditions:
  sort-txt-file: any of: blocked_domains\.txt$
  sort-json-files: any of: \.json$
