Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sort-txt-file
        name: Sort text file alphabetically
        entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
        language: system
        files: blocked_domains\.txt$
      
      - id: sort-json-files
        name: Sort JSON files alphabetically
        entry: python3 scripts/sort_json.py
        language: system
        files: \.json$
        pass_filenames: true

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update Dockerfile file
  Dockerfile
  searx/templates/simple/base.html
  searx/templates/static/output.css
  searx/templates/static/themes/simple/sxng-core.min.js
Due: none

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
  searx/templates/static/themes/simple/img/favicon.png
  searx/templates/static/themes/simple/img/favicon.svg
  searx/templates/static/themes/simple/img/favicon.svg.br
  searx/templates/static/themes/simple/img/favicon.svg.gz
Due: sort-json-files

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

update: update favicon files
  searx/templates/static/output.css
  searx/templates/static/themes/simple/img/favicon.png
  searx/templates/static/themes/simple/img/favicon.svg
  searx/templates/static/themes/simple/img/favicon.svg.br
  searx/templates/static/themes/simple/img/favicon.svg.gz
Due: none

update: update searxng-wordmark.min.svg file
  searx/templates/simple/searxng-wordmark.min.svg
Due: none

update: update base.html file
  searx/templates/simple/base.html
Due: none

update: update macros.html file
  Dockerfile
  searx/templates/simple/macros.html
Due: none

update: update macros.html file
  searx/templates/simple/macros.html
  searx/templates/static/output.css
Due: none

update: update search.html file
  Dockerfile
  searx/templates/simple/search.html
Due: none

update: update results.html file
  searx/templates/simple/results.html
Due: none

update: update macros.html file
  searx/templates/simple/macros.html
Due: none

update: update highlight.css file
  searx/templates/static/output.css
  searx/templates/static/themes/simple/highlight.css
Due: none

update: update results.html file
  searx/templates/simple/results.html
  searx/templates/static/output.css
Due: none
