Repository michele-lorenzoni/glimmervoid: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

sort-txt-file:
  name: Sort text file alphabetically
  entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
  language: system

sort-json-files:
  name: Sort JSON files alphabetically
  entry: python3 scripts/sort_json.py
  language: system
  pass_filenames: true

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/highlight_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

feat: preferenza opt-in per riscrivere link YouTube in michael.team
  IDEAS.md
  searx/templates/simple/preferences.html
  searx/templates/simple/preferences/youtube_rewrite.html
  searx/templates/simple/results.html
  searx/templates/static/custom/youtube_rewrite.js
Due: none

fix: copia youtube_rewrite.html nell'immagine (Dockerfile)
  Dockerfile
Due: none

update: update ignored_urls.json file
  .claude/settings.local.json
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update highlight_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/highlight_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/favorite_urls.json
  searx/templates/static/custom/ignored_urls.json
Due: sort-json-files

update: update ignored_urls.json file
  searx/templates/static/custom/ignored_urls.json
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

Path conditions:
  sort-txt-file: any of: blocked_domains\.txt$
  sort-json-files: any of: \.json$
